*
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
    display: block;
    max-width: 100%;
  height: auto;
}
:root {
    --slate-color:var(--SLATE, #434455);
    --iris-color: var(--IRIS, #4D5AE5);
    --white-color:var(--WHITE, #FFF);
      --navy-blue-color:var(--NAVY-BLUE, #2E2F42);
      --cloud-color: var(--CLOUD, #F4F4FD);
      --moderate-blue-color:var(--MODERATE-BLUE, #404BBF); 
      --cornflower-color:var(--CORNFLOWER, #E7E9FC);
      --green-color:var(--GREEN, #31D0AA);
      --light-slate-color:var(--LIGHT-SLATE, #8E8F99);
      --dairy-color:var(--DAIRY,#FCFCFC);
  --grey-color:var(--GREY, #2E2F42B2);
    } 

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
  } 
  
 
  .address {
    font-style: normal;
}
  .app-phone-header {
      color:var(--navy-blue-color);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      margin-bottom: 8px;
      
  }
  .app-phone-text {
      color:var(--slate-color);
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
  

.background-image {
    width: 90rem;
    height: 37.5rem;
    flex-shrink: 0;
    margin:0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), 
            url(../images/people-office.jpg);
            background-repeat: no-repeat;
            max-width: 1440px; 
            background-position: center;
            background-size: cover;
        }
  .button {
    background-color: var(--iris-color);
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
    cursor: pointer;
    }
    .button:hover {
        background-color: var(--moderate-blue-color);
    }
    .button:focus {
        background-color: var(--moderate-blue-color);
    }
  .button-type {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color:var(--iris-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    padding-bottom: 4.5em;
    
}
  .button-type:hover {
      color: var(--white-color);
      border-color:transparent;
  }
  .button-type:focus {
      color: var(--white-color);
      border-color:transparent;
  }
  .clients {
    display:flex;
gap: 24px;

  }
    .clients-customers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid var(--light-slate-color);
        color: var(--light-slate-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-customers:hover {
        color:var(--moderate-blue-color) ;
        border-color:var(--moderate-blue-color) ;
    }
    .clients-customers:focus {
        color:var(--moderate-blue-color) ;
        border-color:var(--moderate-blue-color) ;
    }
    .clients-customers-list {
width: calc((100% - 120px) / 6);
height: 88px;
width: 168px;
    }  
    .clients-customers-svg {
        fill: currentColor;
    }
    
  .container {
    margin: 0 auto;
    padding: 0 15px;
   width: 1158px;
}
    .container-address {
        display: flex;
        gap: 40px;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding-top: 1.5em;
        margin-right: 0; 
        padding-left: 20.75em;
    }
    
    .container-animation {
      position: relative;
      overflow: hidden;
    }
.container-animation:hover .container-animation-p {
    transform: translateY(0%);
}
.container-animation:focus .container-animation-p {
    transform: translateY(0%);
}
    .container-animation-p {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--cloud-color);
        padding: 40px 32px;
        background-color:var(--iris-color);
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    .container-header {
        display: flex;
height: 72px;
flex-shrink: 0;
    }
    .container-menu {
        display: flex;
        gap: 40px;
    }
    a.container-menu-link {
        position: relative;
        color:var(--moderate-blue-color);
        padding-top: 25px;
        padding-bottom: 25px;
    }
.container-menu-link::after {
    position: absolute;
    content:'';
    left: 0;
    bottom: -1px;
    background-color: var(--moderate-blue-color);
    border-radius: 2px;
    border-bottom: 4px solid var(--moderate-blue-color);
  width: 100%;
  display: block;
}
    
    .container-nav {
        display: flex;
        align-items: center;
    }
   
    .container-svg {
        display: flex; 
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        background: var(--cloud-color);
        width: 16.5rem;
        height: 7rem;
        flex-shrink: 0;
        margin-bottom: 0.5em;
    }
    .contact {
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--slate-color);
        font-weight: 400;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact:hover {
        color:var(--moderate-blue-color);
    }
    .contact:focus {
        color:var(--moderate-blue-color);
    }


    .head-title {
        color: var(--navy-blue-color);
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
   
    .head-team {
        background-color: var(--cloud-color);
    }
    .header-nav {
        color:var(--navy-blue-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-nav:hover {
        color:var(--moderate-blue-color);
    }
    .header-nav:focus {
        color:var(--moderate-blue-color);
    }
    .headline-main {
        color: var(--white-color);
        font-weight: 700;
        font-style: normal;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto 48px;
    }
    .headline-main-button {
      display: block;
      min-width: 169px;
     margin: 0 auto;
      border: none;
      border-radius: 4px;
      padding: 1rem 2rem;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.footer {
    background: var(--navy-blue-color);
flex-shrink: 0;
}
.footer-studio {
    color: var(--cloud-color);
}


.general-container-footer {
    display: flex;
    align-items: baseline;
}

.icons {
fill: none;
width: 1.5rem;
height: 1.5rem;
flex-shrink: 0;
color: var(--white-color);
}
  .item {
    background-color: var(--navy-blue-color);
    height: 37.5rem;
  flex-shrink: 0;
  padding: 188px 0;
    }
   



    .link {
        text-decoration: none;
    }
    .list {
        list-style: none;
    }
    .logo {
        margin-right: 76px;
    }
    .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
    }


    .menu:hover {
        color:var(--moderate-blue-color);
        }
.modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-windows {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-windows:hover {
    border: none;
    fill:var(--white-color);
}
.modal-windows:focus { 
    border: none;
    fill:var(--white-color);
}
.modal-windows-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    fill: var(--navy-blue-color);
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-windows-close:hover {
    background-color:var(--moderate-blue-color);
    border: none;
    fill:var(--white-color);
}
.modal-windows-close:focus {
    background-color:var(--moderate-blue-color);
    border: none;
    fill:var(--white-color);
}
   




.page-header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc; 
        display: flex;
    align-items: center;
    justify-content: space-between;
flex-shrink: 0;
    }
    .page-footer {  
        padding: 100px 0;
    }
    .portfolio-button:hover {
        background: var(--iris-color);
        color: var(--white-color);
        }
    .portfolio-button:focus {
    background: var(--iris-color);
    color: var(--white-color);
    }
    .portfolio-button-all {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--iris-color);
        background-color:var(--cloud-color);
        padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .portfolio-button-all:hover {
        background-color:var(--moderate-blue-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .portfolio-button-all:focus {
        background-color:var(--moderate-blue-color);
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .portfolio-image {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none; 
    }
    .portfolio-image-list {
        width: calc((100% - 48px) / 3); 
    }
    .portfolio-image-list-link {
        
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-image-list-link:hover .container-animation-p {
        transform: translateY(0%);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
    }
.portfolio-image-list-link:focus .container-animation-p {
   transform: translateY(0%); 
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
    .portfolio-list {
        list-style: none;
    }
    .portfolio-list-image {
        display: flex; 
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px; 
    }
    .portfolio-section {
        padding: 96px 0 120px 0;
    }


    .section {
        padding: 120px 0; 
        
     }
     .section-first {
        padding: 188px 0;
    }
   .section-five {
    display:flex;
    align-items: baseline;
   }
   .section-five-container {
    margin-right: 120px;
   }
    .section-four {
        display: flex;
        gap: 24px;
    }
    .section-four-container {
        padding: 32px 0px;
    }
    .section-four-header {
        text-align: center;
        margin-bottom: 8px; 
    }
    .section-four-list {
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
    }
    .section-four-text {
        text-align: center;
       margin: 0 auto;
    }
    .section-next {
        padding: 7.5em 9.75em;
    }
    .section-third {
        display: flex;
        gap: 24px;
    }
    .section-third-list {
        width: calc((100% - 48px) / 3);
        border: 1px solid var(--cornflower-color);
background: url(./images/img1.jpg,./images/img2.jpg,./images/img3.jpg), 
lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    }
    .section-three {
        padding-top: 0;
    }
    
    .social-media {
        color: var(--white-color);
        font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.02rem; 
       
    }
    .social-page {
        display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
    }
    .social-page-footer {
        color: var(--white-color);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
margin-bottom: 16px;
margin-top: 0;
    }
    .social-page-footer-list {
        display:flex;
        gap:16px;
       
        align-items: baseline;
    }
    .social-section-footer {
        fill:var(--cloud-color);
        
    }
    .social-section-team  {
       fill:var(--cloud-color);
      
    }
    .social-section-team:hover {
        fill:var(--cornflower-color);
    }
    .strategy-header {
        font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
    .strategy-header-title {
        
        text-align: left;
    }
    .strategy-section-list {
        display: flex; 
        gap: 24px; 
    }
    .strategy-section-point {
        width: calc((100% - 72px) / 4); 
    }
    .strategy-text { 
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .studio {
        color: var(--navy-blue-color);
    }
    .svg-icons {
        height: 40px;
        width: 40px;
    }
    
   .svg-icon-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .svg-icon-links-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--cloud-color);
    border-radius: 50%;
    background-color:var(--iris-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .svg-icon-links-team:hover {
background-color: var(--moderate-blue-color);
   }
   .svg-icon-links-team:focus {
    background-color: var(--moderate-blue-color);
   }    
   .svg-icon-links:hover {
        background-color: var(--green-color);
    }
    .svg-icon-links:focus {
        background-color: var(--green-color);
    }


    .text {
        font-weight: 400;
        color: var(--slate-color);
        font-style: normal;
    }
    .text-footer {
        color: var(--cloud-color);
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        width: 16.5rem;
        height: 4.5rem;
      
    }
    .title {
        color: var(--navy-blue-color);
        font-weight: 500;
        font-style: normal;
    }



    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }


      .your-team {
        background-color:var(--white-color);
        border-radius: 0rem 0rem 0.25rem 0.25rem;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }


    .web-studio {
        color: var(--iris-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    }
